h1 {
    text-align: center;
}

#canvas-container {
    width: 480px;
    height: 480px;
    display: flex;
    flex-direction: column;
    border: solid black 8px;
    margin: auto;
}

#button-container {
    display: flex;
    justify-content: space-evenly;
}

div input{
    display: block;
}